<!-- IF S_DISPLAY_SEARCH -->
<div id="search-box" class="search-box search-header" role="search" style="clear: right;">
    <form action="/xi/item/" method="post" id="search">
        <fieldset>
            <input name="s" id="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}"
                class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="Search Items..." />
            <button class="button button-search" type="submit" title="{L_SEARCH}">
                <i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH}</span>
            </button>
            <a href="" class="button button-search-end" title="">
                <i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH_ADV}</span>
            </a>
        </fieldset>
    </form>
</div>
<!-- ENDIF -->