<li class="rightside" data-skip-responsive="true">
	<a href="/xi/zone/" title="{LSBBB_NAV_WORLDMAP}" role="menuitem">
		<i class="icon fa-map fa-fw" aria-hidden="true"></i><span>{LSBBB_NAV_WORLDMAP}</span>
	</a>
</li>
<li class="rightside" data-last-responsive="true">
	<a href="/xi/char/" title="{LSBBB_NAV_CHARACTERS}" role="menuitem">
		<i class="icon fa-users fa-fw" aria-hidden="true"></i><span>{LSBBB_NAV_CHARACTERS}</span>
	</a>
</li>
<li class="rightside" data-last-responsive="true">
	<a href="/xi/ah/" title="{LSBBB_NAV_AUCTIONHOUSE}" role="menuitem">
		<i class="icon fa-gavel fa-fw" aria-hidden="true"></i><span>{LSBBB_NAV_AUCTIONHOUSE}</span>
	</a>
</li>
<!-- IF S_USER_LOGGED_IN -->
<li class="rightside" data-last-responsive="true">
	<a href="/xi/ah/999" title="{LSBBB_NAV_MYLISTINGS}" role="menuitem">
		<i class="icon fa-th-list fa-fw" aria-hidden="true"></i><span>{LSBBB_NAV_MYLISTINGS}</span>
	</a>
</li>
<!-- ENDIF -->
<li class="rightside" data-last-responsive="true">
	<a href="/xi/install/" rel="help" title="{LSBBB_NAV_INSTALL}" role="menuitem">
		<i class="icon fa-clone fa-fw" aria-hidden="true"></i></i><span>{LSBBB_NAV_INSTALL}</span>
	</a>
</li>