{% include 'overall_header.html' %}

<p class="{S_CONTENT_FLOW_END} responsive-center time<!-- IF S_USER_LOGGED_IN --> rightside<!-- ENDIF -->"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF --></p>
<!-- IF S_USER_LOGGED_IN --><p class="responsive-center time">{CURRENT_TIME}</p><!-- ENDIF -->

<h1 class="xi-zone-name">{CRAFT_NAME}</h1>

<!-- IF reciperow --><!-- INCLUDE xi_craft_recipes.html --><!-- ELSE --><!-- INCLUDE xi_craft_list.html --><!-- ENDIF -->

{% include 'overall_footer.html' %}