<!-- IF chardata -->
<!-- BEGIN chardata -->
<dl class="postprofile">
	<dt class="has-profile-rank has-avatar">
		<div class="avatar-container">
			<img src="https://www.madetoraid.com/ffxiimg/faces/{chardata.char_image}" title="{chardata.charname}" alt="Character image">
		</div>
		<strong>{chardata.charname}</strong>
	</dt>
	<dd>{chardata.nation}</dd>
	<dd>{chardata.title}</dd>
	<!-- IF chardata.primaryls_name -->
	<dd style="color: {chardata.primaryls_color};">&#9673; {chardata.primaryls_name}</dd><!-- ENDIF -->
	<!-- IF chardata.secondaryls_name -->
	<dd style="color: {chardata.secondaryls_color};">&#9673; {chardata.secondaryls_name}</dd><!-- ENDIF -->
	<dd>{chardata.mainjob}{chardata.mlvl}<!-- IF chardata.slvl -->/{chardata.subjob}{chardata.slvl}<!-- ENDIF --></dd>
	<dd class="chargear">
		<table class="geartable">
			<tbody>
				<tr>
					<td><!-- IF chardata.mainid --><a href="{LSBBB_ITEM_URL}{chardata.mainid}"><img src="https://www.madetoraid.com/ffxiimg/icon/{chardata.mainid}.png" title="{chardata.mainname}"></a><!-- ENDIF --></td>
					<td><!-- IF chardata.subid --><img src="https://www.madetoraid.com/ffxiimg/icon/{chardata.subid}.png" title="{chardata.subname}"><!-- ENDIF --></td>
					<td><!-- IF chardata.rangeid --><img src="https://www.madetoraid.com/ffxiimg/icon/{chardata.rangeid}.png" title="{chardata.rangename}"><!-- ENDIF --></td>
					<td><!-- IF chardata.ammoid --><img src="https://www.madetoraid.com/ffxiimg/icon/{chardata.ammoid}.png" title="{chardata.ammoname}"><!-- ENDIF --></td>
				</tr>
				<tr>
					<td><!-- IF chardata.headid --><img src="https://www.madetoraid.com/ffxiimg/icon/{chardata.headid}.png" title="{chardata.headname}"><!-- ENDIF --></td>
					<td><!-- IF chardata.neckid --><img src="https://www.madetoraid.com/ffxiimg/icon/{chardata.neckid}.png" title="{chardata.neckname}"><!-- ENDIF --></td>
					<td><!-- IF chardata.ear1id --><img src="https://www.madetoraid.com/ffxiimg/icon/{chardata.ear1id}.png" title="{chardata.ear1name}"><!-- ENDIF --></td>
					<td><!-- IF chardata.ear2id --><img src="https://www.madetoraid.com/ffxiimg/icon/{chardata.ear2id}.png" title="{chardata.ear2name}"><!-- ENDIF --></td>
				</tr>
				<tr>
				<tr>
					<td><!-- IF chardata.bodyid --><img src="https://www.madetoraid.com/ffxiimg/icon/{chardata.bodyid}.png" title="{chardata.bodyname}"><!-- ENDIF --></td>
					<td><!-- IF chardata.handsid --><img src="https://www.madetoraid.com/ffxiimg/icon/{chardata.handsid}.png" title="{chardata.handsname}"><!-- ENDIF --></td>
					<td><!-- IF chardata.ring1id --><img src="https://www.madetoraid.com/ffxiimg/icon/{chardata.ring1id}.png" title="{chardata.ring1name}"><!-- ENDIF --></td>
					<td><!-- IF chardata.ring2id --><img src="https://www.madetoraid.com/ffxiimg/icon/{chardata.ring2id}.png" title="{chardata.ring2name}"><!-- ENDIF --></td>
				</tr>
				<tr>
				<tr>
					<td><!-- IF chardata.backid --><img src="https://www.madetoraid.com/ffxiimg/icon/{chardata.backid}.png" title="{chardata.backname}"><!-- ENDIF --></td>
					<td><!-- IF chardata.waistid --><img src="https://www.madetoraid.com/ffxiimg/icon/{chardata.waistid}.png" title="{chardata.waistname}"><!-- ENDIF --></td>
					<td><!-- IF chardata.legsid --><img src="https://www.madetoraid.com/ffxiimg/icon/{chardata.legsid}.png" title="{chardata.legsname}"><!-- ENDIF --></td>
					<td><!-- IF chardata.feetid --><img src="https://www.madetoraid.com/ffxiimg/icon/{chardata.feetid}.png" title="{chardata.feetname}"><!-- ENDIF --></td>
				</tr>
			</tbody>
		</table>
	</dd>

</dl>

<div class="postbody">
	<div>
		<h3 class="first">Crafts</h3>
		<div class="forabg">
			<div class="inner">
				<table class="table1 responsive jobtable">
					<thead>
						<tr>
							<th><img src="{LSBBB_URL}/styles/all/theme/images/fishing.gif">{L_LSBBB_FSH}</th>
							<th><img src="{LSBBB_URL}/styles/all/theme/images/woodworking.gif">{L_LSBBB_CRP}</th>
							<th><img src="{LSBBB_URL}/styles/all/theme/images/smithing.gif">{L_LSBBB_BSM}</th>
							<th><img src="{LSBBB_URL}/styles/all/theme/images/goldsmithing.gif">{L_LSBBB_GSM}</th>
							<th><img src="{LSBBB_URL}/styles/all/theme/images/weaving.gif">{L_LSBBB_WVR}</th>
							<th><img src="{LSBBB_URL}/styles/all/theme/images/leathercraft.gif">{L_LSBBB_LTW}</th>
							<th><img src="{LSBBB_URL}/styles/all/theme/images/bonecraft.gif">{L_LSBBB_BNC}</th>
							<th><img src="{LSBBB_URL}/styles/all/theme/images/alchemy.gif">{L_LSBBB_ALC}</th>
							<th><img src="{LSBBB_URL}/styles/all/theme/images/cooking.gif">{L_LSBBB_CUL}</th>
						</tr>
					</thead>
					<tbody>
						<tr class="bg1">
							<td>{chardata.guild_fishing}</td>
							<td>{chardata.guild_woodworking}</td>
							<td>{chardata.guild_smithing}</td>
							<td>{chardata.guild_goldsmithing}</td>
							<td>{chardata.guild_weaving}</td>
							<td>{chardata.guild_leathercraft}</td>
							<td>{chardata.guild_bonecraft}</td>
							<td>{chardata.guild_alchemy}</td>
							<td>{chardata.guild_cooking}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<h3 class="first">Jobs</h3>
		<div class="forabg">
			<div class="inner">
				<table class="table1 responsive jobtable">
					<thead>
						<tr>
							<th><a href="{LSBBB_JOB_URL}/1"><img src="{LSBBB_URL}/icon/12511.png"></a> {L_LSBBB_WAR}</th>
							<th><a href="{LSBBB_JOB_URL}/2"><img src="{LSBBB_URL}/icon/12512.png"></a> {L_LSBBB_MNK}</th>
							<th><a href="{LSBBB_JOB_URL}/3"><img src="{LSBBB_URL}/icon/13855.png"></a> {L_LSBBB_WHM}</th>
							<th><a href="{LSBBB_JOB_URL}/4"><img src="{LSBBB_URL}/icon/13856.png"></a> {L_LSBBB_BLM}</th>
							<th><a href="{LSBBB_JOB_URL}/5"><img src="{LSBBB_URL}/icon/12513.png"></a> {L_LSBBB_RDM}</th>
							<th><a href="{LSBBB_JOB_URL}/6"><img src="{LSBBB_URL}/icon/12514.png"></a> {L_LSBBB_THF}</th>
							<th><a href="{LSBBB_JOB_URL}/7"><img src="{LSBBB_URL}/icon/12515.png"></a> {L_LSBBB_PLD}</th>
							<th><a href="{LSBBB_JOB_URL}/8"><img src="{LSBBB_URL}/icon/12516.png"></a> {L_LSBBB_DRK}</th>
							<th><a href="{LSBBB_JOB_URL}/9"><img src="{LSBBB_URL}/icon/12517.png"></a> {L_LSBBB_BST}</th>
							<th><a href="{LSBBB_JOB_URL}/10"><img src="{LSBBB_URL}/icon/13857.png"></a> {L_LSBBB_BRD}</th>
							<th><a href="{LSBBB_JOB_URL}/11"><img src="{LSBBB_URL}/icon/12518.png"></a> {L_LSBBB_RNG}</th>
							<th><a href="{LSBBB_JOB_URL}/12"><img src="{LSBBB_URL}/icon/13868.png"></a> {L_LSBBB_SAM}</th>
							<th><a href="{LSBBB_JOB_URL}/13"><img src="{LSBBB_URL}/icon/13869.png"></a> {L_LSBBB_NIN}</th>
							<th><a href="{LSBBB_JOB_URL}/14"><img src="{LSBBB_URL}/icon/12519.png"></a> {L_LSBBB_DRG}</th>
							<th><a href="{LSBBB_JOB_URL}/15"><img src="{LSBBB_URL}/icon/12520.png"></a> {L_LSBBB_SMN}</th>
							<th><a href="{LSBBB_JOB_URL}/16"><img src="{LSBBB_URL}/icon/15265.png"></a> {L_LSBBB_BLU}</th>
							<th><a href="{LSBBB_JOB_URL}/17"><img src="{LSBBB_URL}/icon/15266.png"></a> {L_LSBBB_COR}</th>
							<th><a href="{LSBBB_JOB_URL}/18"><img src="{LSBBB_URL}/icon/15267.png"></a> {L_LSBBB_PUP}</th>
							<th><a href="{LSBBB_JOB_URL}/19"><img src="{LSBBB_URL}/icon/16138.png"></a> {L_LSBBB_DNC}</th>
							<th><a href="{LSBBB_JOB_URL}/20"><img src="{LSBBB_URL}/icon/16140.png"></a> {L_LSBBB_SCH}</th>
						</tr>
					</thead>
					<tbody>
						<tr class="bg1">
							<td>{chardata.war}</td>
							<td>{chardata.mnk}</td>
							<td>{chardata.whm}</td>
							<td>{chardata.blm}</td>
							<td>{chardata.rdm}</td>
							<td>{chardata.thf}</td>
							<td>{chardata.pld}</td>
							<td>{chardata.drk}</td>
							<td>{chardata.bst}</td>
							<td>{chardata.brd}</td>
							<td>{chardata.rng}</td>
							<td>{chardata.sam}</td>
							<td>{chardata.nin}</td>
							<td>{chardata.drg}</td>
							<td>{chardata.smn}</td>
							<td>{chardata.blu}</td>
							<td>{chardata.cor}</td>
							<td>{chardata.pup}</td>
							<td>{chardata.dnc}</td>
							<td>{chardata.sch}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- END chardata -->
<!-- ENDIF -->