<!-- IF charrow -->
<div class="forabg">
	<div class="inner">
		<table class="table1 responsive characterlist sortable">
			<thead>
				<tr>
					<th class="info">{L_LSBBB_CHARACTER}</th>
					<th class="info">{L_LSBBB_NATION}</th>
					<th class="info">{L_LSBBB_ACCOUNT}</th>
					<th class="info">{L_LSBBB_LASTZONE}</th>
					<th class="info">{L_LSBBB_LASTUPDATE}</th>
				</tr>
			</thead>
			<tbody>
				<!-- BEGIN charrow -->
				<tr class="charrow <!-- IF charrow.rownum is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
					<td class="info">
						<img src="/ext/madetoraid/lsbbb/styles/all/theme/images/faces/{charrow.char_image}" title="{charrow.charname}">
						<a href="/xi/char/{charrow.charid}" class="forumtitle">{charrow.charname}</a>
					</td>
					<td class="info">
						{charrow.nation}
						<!-- IF charrow.nation == "Windurst" -->
						({charrow.rank_windurst})
						<!-- ELSEIF charrow.nation == "Bastok" -->
						({charrow.rank_bastok})
						<!-- ELSE -->
						({charrow.rank_sandoria})
						<!-- ENDIF -->
					</td>
					<td class="info"><a href="/memberlist.php?mode=viewprofile&u={charrow.forumid}">{charrow.username}</a></td>
					<td class="info"><a href="{charrow.zone_url}">{charrow.zone_name}</a></td>
					<td class="info">{charrow.lastupdate}</td>
				</tr>
				<!-- END charrow -->
			</tbody>
		</table>
	</div>
</div>
<!-- ENDIF -->