<div class="forabg">
	<div class="inner">
		<table class="table1 responsive">
			<thead>
				<tr class="craftrow">
					<th>{L_LSBBB_WOOD}</th>
					<th>{L_LSBBB_SMITH}</th>
					<th>{L_LSBBB_GOLD}</th>
					<th>{L_LSBBB_CLOTH}</th>
					<th>{L_LSBBB_LEATHER}</th>
					<th>{L_LSBBB_BONE}</th>
					<th>{L_LSBBB_ALCHEMY}</th>
					<th>{L_LSBBB_COOK}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="craftrow bg2">
					<td><a href="{LSBBB_CRAFT_URL}1"><img alt="{L_LSBBB_WOOD}" src="/ext/madetoraid/lsbbb/styles/all/theme/images/woodworking.gif"></a></td>
					<td><a href="{LSBBB_CRAFT_URL}2"><img alt="{L_LSBBB_SMITH}" src="/ext/madetoraid/lsbbb/styles/all/theme/images/smithing.gif"></a></td>
					<td><a href="{LSBBB_CRAFT_URL}3"><img alt="{L_LSBBB_GOLD}" src="/ext/madetoraid/lsbbb/styles/all/theme/images/goldsmithing.gif"></a></td>
					<td><a href="{LSBBB_CRAFT_URL}4"><img alt="{L_LSBBB_CLOTH}" src="/ext/madetoraid/lsbbb/styles/all/theme/images/weaving.gif"></a></td>
					<td><a href="{LSBBB_CRAFT_URL}5"><img alt="{L_LSBBB_LEATHER}" src="/ext/madetoraid/lsbbb/styles/all/theme/images/leathercraft.gif"></a></td>
					<td><a href="{LSBBB_CRAFT_URL}6"><img alt="{L_LSBBB_BONE}" src="/ext/madetoraid/lsbbb/styles/all/theme/images/bonecraft.gif"></a></td>
					<td><a href="{LSBBB_CRAFT_URL}7"><img alt="{L_LSBBB_ALCHEMY}" src="/ext/madetoraid/lsbbb/styles/all/theme/images/alchemy.gif"></a></td>
					<td><a href="{LSBBB_CRAFT_URL}8"><img alt="{L_LSBBB_COOK}" src="/ext/madetoraid/lsbbb/styles/all/theme/images/cooking.gif"></a></td>
				</tr>
				<!-- END spawnrow -->
			</tbody>
		</table>
	</div>
</div>