{% include 'overall_header.html' %}

<h2 class="faq-title">{L_LSBBB_INSTALL}</h2>

<blockquote><strong>⚠️ Note: To be able to update the Final Fantasy XI client - and connect to private servers using the
        most recent
        version - you must be capable of connecting to retail at least once.<br>
        Possible methods for doing so may be found
        below in <a href="#2-connecting-to-retail">Section 2 - Connect to Retail</a>.<br>
        {SITENAME} and LandSandBoat do not condone methods enabling client updates without having connected to
        SquareEnix&#39;s retail servers.</strong>
</blockquote>

<div class="panel bg1">
    <div class="inner">
        <div class="content">
            <h2 class="faq-title">1. Install and Update Final Fantasy XI</h2>
            <dl class="faq">
                <dd><i class="fa fa-download" aria-hidden="true"></i> <a href="http://www.playonline.com/ff11us/download/media/install_win.html">Official link to
                        download US installation files</a> (get all of them). These files include updates until April 2019.</dd>
            </dl>
            <hr class="dashed" />
            <dl class="faq">
                <dt id="f0r0"><i class="fa fa-file-archive-o" aria-hidden="true"></i> <strong>Run the installer</strong>
                </dt>
                <dd>Extract the files first by executing the &quot;FFXIFullSetup_US.part1.exe&quot; then proceed to the
                    installation through &quot;FFXISetup.exe&quot; (freshly extracted).</dd>
            </dl>
            <dl class="faq">
                <dd>Once the whole installation is complete, execute PlayOnline Viewer. If an update is available, click
                    on
                    &quot;Next&quot;, then:
                    <ul>
                        <li>Select &quot;Update&quot; ; once this is done, click on &quot;OK&quot; then
                            &quot;Next&quot;.
                            PlayOnline
                            Viewer should restart automatically.</li>
                        <li>Select &quot;For PlayOnline Members!&quot;.</li>
                        <li>On the next screen, enter id like 1234ABCD or ABCD1234 (4 letters 4 numbers it doesn&#39;t
                            care
                            about
                            the order, doesn&#39;t matter if they&#39;re accurate or not) in the &quot;Member Name&quot;
                            and
                            &quot;PlayOnline ID&quot; fields. If you wish to use your retail or trial account, you can
                            input
                            that.
                        </li>
                        <li>Click on &quot;Register&quot; &gt; &quot;Yes&quot; &gt; &quot;OK&quot; &gt; &quot;Exit&quot;
                            and
                            finally
                            &quot;Yes&quot;.</li>
                    </ul>
                </dd>
            </dl>
            <hr class="dashed" />
            <dl class="faq">
                <dt id="f0r0"><i class="fa fa-check" aria-hidden="true"></i> <strong>Check that DirectPlay is
                        enabled.</strong></dt>
                <dd>
                    This step is for Windows 10 users and can be skipped otherwise.
                    <ul>
                        <li>To enable DirectPlay, first press the Windpws key + R keyboard shortcut to open Run.</li>
                        <li>Then enter &quot;Control Panel&quot; in Run, and click the OK button.</li>
                        <li>Click &quot;Programs and Features&quot;.</li>
                        <li>Click &quot;Turn Windows features on or off&quot;.</li>
                        <li>Double-click &quot;Legacy Components&quot; to expand it.</li>
                        <li>Check the DirectPlay check box (if it is not already marked).</li>
                    </ul>
                </dd>
            </dl>
            <hr class="dashed" />
            <dl class="faq">
                <dt id="f0r0"><i class="fa fa-cogs" aria-hidden="true"></i> <strong>Configure game technical
                        options.</strong></dt>
                <dd>
                    <ul>
                        <li>Start Menu &gt; PlayOnline &gt; FINAL FANTASY XI Config; <em>or</em></li>
                        <li><code>(Root FFXI Install Directory)/PlayOnline/SquareEnix/FINAL FANTASY XI/Tools/FINAL FANTASY XI Config</code>
                        </li>
                    </ul>
                </dd>
            </dl>
            <a href="#faqlinks" class="top">
                <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i><span>Top</span>
            </a>
        </div>

    </div>
</div>

<div class="panel bg2">
    <div class="inner">
        <div class="content">
            <h2 class="faq-title">2. Connecting to Retail</h2>
            <dl class="faq">
                <dd>To be capable of connecting to a private server, you must be able to update your local install of
                    Final Fantasy XI.
                    To do this, you must connect - or have connected - to SquareEnix&#39;s retail servers at least once.
                    You may connect
                    to the official retail servers in the following ways:
                    <ol>
                        <li>Connect to retail with your existing retail subscription.</li>
                        <li>Purchase a copy of Final Fantasy XI, which comes with a 30-day subscription.</li>
                        <li>For users who have previously purchased Final Fantasy XI and have since reinstalled the
                            software, connect to
                            retail during a Return Home to Vana&#39;diel campaign when SquareEnix allows former
                            subscribers to play on
                            retail servers for free.</li>
                        <li><a href="https://na.store.square-enix-games.com/final-fantasy_-xi_-free-trial---digital">Activate
                                a trial
                                account provided by SquareEnix.</a> When you do so, you will be emailed an activation
                            key. This key may be
                            used like a normal activation key.</li>
                    </ol>
                </dd>
            </dl>
            <a href="#faqlinks" class="top">
                <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i><span>Top</span>
            </a>
        </div>
    </div>
</div>

<div class="panel bg1">
    <div class="inner">
        <div class="content">
            <h2 class="faq-title">3. Later Updates</h2>
            <dl class="faq">
                <dd>After having connected to retail at least once since installing Final Fantasy XI, you may then
                    update it at any time
                    by deleting a file on your local installation and using &quot;Check Files&quot; from the PlayOnline
                    Viewer. You may
                    use this method even if your previous subscription to retail is inactive.</p>
                    <ol>
                        <li>
                            Inside the <code>\PlayOnline\SquareEnix\FINAL FANTASY XI\ROM\0</code> folder &gt; delete
                            the
                            <code>0.dat</code> file.

                        </li>
                        <li>
                            Execute PlayOnline Viewer. Click on &quot;Check Files&quot; from the list on the left.
                        </li>
                        <li>
                            Select &quot;FINAL FANTASY XI&quot; in the drop-down menu (&quot;PlayOnline Viewer&quot;
                            is selected by
                            default) then click on &quot;Check Files&quot;. Be sure that you are checking Final
                            Fantasy XI and not the
                            PlayOnline Viewer.
                        </li>
                        <li>
                            If Final Fantasy XI is not an option available in the drop-down menu from the &quot;Check
                            Files&quot; menu,
                            you have not connected to retail since installing the client.
                        </li>
                        <li>
                            PlayOnline Viewer will find errors, click on &quot;File Repair&quot; then
                            &quot;Yes&quot;.
                        </li>
                        <li>
                            Once everything is done, click on &quot;OK&quot; then &quot;Exit Viewer&quot; and
                            &quot;Yes&quot;.
                        </li>
                    </ol>
                </dd>
            </dl>
            <a href="#faqlinks" class="top">
                <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i><span>Top</span>
            </a>
        </div>
    </div>
</div>

<div class="panel bg2">
    <div class="inner">
        <div class="content">
            <h2 class="faq-title">4. xiloader</h2>
            <dl class="faq">
                To connect to a {SITENAME} you need to point your client at our server. This is done through
                <code>bootloaders</code> like <code>xiloader</code>.
                <ul>
                    <li><a href="https://github.com/LandSandBoat/xiloader/releases">Download pre-built latest
                            xiloader</a></li>
                    <li><a href="https://github.com/LandSandBoat/xiloader">Download source code for xiloader to build
                            for yourself</a>
                    </li>
                </ul>
                </dd>
            </dl>
            <a href="#faqlinks" class="top">
                <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i><span>Top</span>
            </a>
        </div>
    </div>
</div>

<div class="panel bg1">
    <div class="inner">
        <div class="content">
            <h2 class="faq-title">5. Connecting to {SITENAME}</h2>
            <dl class="faq">
                <dd>
                    <ul>
                        <li>If you have not done so already, create your forum account.</li>
                        <li>If you plan to use a launcher, you may skip this section, however we recommend connecting to
                            {SITENAME} for the first time with only xiloader so that you can
                            minimize potential setup problems.</li>
                        <li>Execute cmd.exe as an administrator and run
                            <pre>
                                <code style="language-cmd">
xiloader.exe --server ffxi.madetoraid.com {LSBBB_SERVER}
                                </code>
                            </pre>
                            then select the &quot;Login&quot; option by hitting &quot;1&quot; then:

                            <pre>
                                <code class="language-c">
 [01/25/25 19:53:40] ==========================================================
 [01/25/25 19:53:40] DarkStar Boot Loader (c) 2015 DarkStar Team
 [01/25/25 19:53:40] LandSandBoat Boot Loader (c) 2021-2025 LandSandBoat Team (v1.1.1)
 [01/25/25 19:53:40] Git Repo   : https://github.com/LandSandBoat/xiloader
 [01/25/25 19:53:40] Bug Reports: https://github.com/LandSandBoat/xiloader/issues
 [01/25/25 19:53:40] ==========================================================
 [01/25/25 19:53:40] Remote server certificate warnings:
 [01/25/25 19:53:40] The certificate is not correctly signed by the trusted CA
 [01/25/25 19:53:40] ==========================================================
 [01/25/25 19:53:40] What would you like to do?
 [01/25/25 19:53:40]    1.) Login
 [01/25/25 19:53:40]    2.) Create New Account
 [01/25/25 19:53:40]    3.) Change Account Password
 [01/25/25 19:53:40] ==========================================================
 
 Enter a selection: 1
 
 Username: forumusername
 Password: forumpassword
                                </code>
                            </pre>
                        </li>
                    </ul>
                    {SITENAME} Discord: <a href="https://discord.gg/6bsjmgGUsB">https://discord.gg/6bsjmgGUsB</a>
                </dd>
            </dl>
            <a href="#faqlinks" class="top">
                <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i><span>Top</span>
            </a>
        </div>
    </div>
</div>

<div class="panel bg2">
    <div class="inner">
        <div class="content">
            <h2 class="faq-title">6. Launcher Configuration</h2>
            <dl class="faq">
                <dd>
                    After confirming that your client can connect to a server, you can use one of the popular
                    third-party launchers for
                    ease-of-use and additional features.
                </dd>
            </dl>
            <hr class="dashed" />
            <dl class="faq">
                <dt id="f0r0"><strong>Launching via Windower</strong></dt>
                <dd>
                    <ol>
                        <li>
                            Download <a href="http://windower.net/">Windower v4</a>
                        </li>
                        <li>
                            Execute Windower as an administrator and it will download updates automatically.
                        </li>
                        <li>
                            Click on the pen to edit the &quot;Default Profile&quot; and modify its options at your
                            will.
                        </li>
                        <li>
                            Open the settings.xml file and set your options as followed (don&#39;t forget to save
                            changes):
                            <pre>
                                <code class="language-xml">
&lt;profile name="Made to Raid"&gt;
    &lt;args&gt;--server ffxi.madetoraid.com --user forumusername --pass forumpassword&lt;/args&gt;
    &lt;executable&gt;HDD:\path\to\xiloader.exe&lt;/executable&gt;
&lt;/profile&gt;
                                </code>
                        </pre>
                            NOTE: If your registered password contains any of the following characters, you will need to
                            replace/escape
                            them in the file to avoid corrupting the entire setting.xml file
                            <ul>
                                <li>replace all <code>&amp;</code> in your password with <code>&amp;amp;</code></li>
                                <li>replace all <code>&lt;</code> in your password with <code>&amp;lt;</code></li>
                                <li>replace all <code>&gt;</code> in your password with <code>&amp;gt;</code></li>
                            </ul>
                        </li>
                        <li>
                            Execute Windower.exe.
                        </li>
                        <li>
                            Select your profile and click on the arrow (bottom right), it will launch xiloader.
                        </li>
                    </ol>
                    Windower Discord: <a href="https://discord.gg/aUrHCvk">https://discord.gg/aUrHCvk</a>
                </dd>
            </dl>
            <hr class="dashed" />
            <dl class="faq">
                <dt id="f0r0"><strong>Launching via Ashita</strong></dt>
                <dd>
                    <ol>
                        <li>
                            Download <a href="https://www.ashitaxi.com/">Ashita v3</a>.
                        </li>
                        <li>
                            Run Ashita as administrator.
                        </li>
                        <li>
                            Click on the Plus icon to make a new configuration, then edit the file line with the
                            file path to your xiloader (can use the ... to browse).
                        </li>
                        <li>
                            In the command line, place your server details as --server ffxi.madetoraid.com
                            --hairpin (if
                            externally facing). You can also use --user and --pass to autopopulate your
                            credentials.
                        </li>
                        <li>
                            Choose &quot;Window&quot; to adjust your resolution if need be.
                        </li>
                        <li>
                            Click the paper icon to save, launch with the red arrow.
                        </li>
                    </ol>
                    Ashita Discord: <a href="https://discord.gg/ashita">https://discord.gg/ashita</a>
                </dd>
            </dl>
        </div>
    </div>
</div>
<script>
    window.addEventListener('load', function () {
        hljs.highlightAll();
    })
</script>
{% INCLUDEJS 'https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/highlight.min.js' %}
{% INCLUDECSS 'https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/styles/base16/materia.min.css' %}
{% include 'overall_footer.html' %}