<!-- IF ahrow -->
		<div class="forabg">
			<div class="inner">
				<table class="table1 responsive">
					<thead>
						<tr>
							<th class="name">Sale Date</th>
							<th class="active">Price</th>
							<th class="active">Seller</th>
							<th class="active">Buyer</th>
						</tr>
					</thead>
					<tbody>

<!-- BEGIN ahrow -->
						<tr class="bg1">
							<td>{ahrow.sell_date}</td>
							<td>{ahrow.sale}</td>
							<td>{ahrow.seller_name}</td>
							<td>{ahrow.buyer_name}</td>
						</tr>
<!-- END ahrow -->
					</tbody>
				</table>
			</div>
		</div>
		<script type="text/javascript" src="https://api.ffxiah.com/core/?load=%2Fjs%2Flib%2FAH.js&amp;ver=1.0.0" id="ffxiah-js-js"></script>
<!-- ENDIF -->
