<!-- IF fishrow -->
<div class="forabg">
	<div class="inner">
		<table class="table1 responsive">
			<thead>
				<tr>
					<th class="name">{L_LSBBB_ZONE}</th>
					<th class="active">{L_LSBBB_ZONE_AREA}</th>
					<th class="active">{L_LSBBB_SKILL}</th>
					<th class="info">{L_LSBBB_LURE}</th>
				</tr>
			</thead>
			<tbody>
				<!-- BEGIN fishrow -->
				<tr class="reciperow<!-- IF fishrow.rownum is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
					<td><a href="/xi/zone/{fishrow.zoneid}" class="forumtitle">{fishrow.zone_name}</a></td>
					<td>{fishrow.area_name}</td>
					<td>{fishrow.skill_level}</td>
					<td>
						<ul class="recipe_ingredients">
							<!-- BEGIN fishrow.lures -->
							<li><img src="/ext/madetoraid/lsbbb/styles/all/theme/images/icon/{fishrow.lures.lureid}.png"> <a href="/xi/item/{fishrow.lures.lureid}">{fishrow.lures.lure_name}</a></li>
							<!-- END fishrow.lures -->
						</ul>
					</td>
				</tr>
				<!-- END fishrow -->
			</tbody>
		</table>
	</div>
</div>
<!-- ENDIF -->