<!-- IF droprow -->
<div class="forabg">
	<div class="inner">
		<table class="table1 responsive sortable">
			<thead>
				<tr>
					<th class="name">{L_LSBBB_ZONE}</th>
					<th class="info">{L_LSBBB_MOB}</th>
					<th class="active">{L_LSBBB_RATE}</th>
				</tr>
			</thead>
			<tbody>
				<!-- BEGIN droprow -->
				<tr class="<!-- IF droprow.rownum is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
					<td><a class="forumtitle" href="/xi/zone/{droprow.zoneid}">{droprow.zone_name}</a></td>
					<td><a href="/xi/zone/{droprow.zoneid}/mob/{droprow.groupid}">{droprow.mob_name}</a> ({droprow.minLevel} - {droprow.maxLevel})</td>
					<td><!-- IF droprow.rate != 0 -->{droprow.rate}%<!-- ELSE -->{L_LSBBB_STEAL}<!-- ENDIF --></td>
				</tr>
				<!-- END droprow -->
			</tbody>
		</table>
	</div>
</div>
<!-- ENDIF -->