{% include 'overall_header.html' %}

<h1 class="xi-zone-name">{L_LSBBB_INSTALL_GUIDES}</h1>

<div class="install-os">
    <a href="{LSBBB_WINDOWS_URL}">
        <img src="{LSBBB_URL}/styles/all/theme/images/windows_logo.svg"><br>
        Windows
    </a>
</div>
<div class="install-os">
    <a href="{LSBBB_LINUX_URL}">
        <img src="{LSBBB_URL}/styles/all/theme/images/tux.svg"><br>
        Linux
    </a>
</div>
<div class="install-os">
    <img src="{LSBBB_URL}/styles/all/theme/images/steam_deck.svg"><br>
    Steam Deck
</div>

{% include 'overall_footer.html' %}