{% include 'overall_header.html' %}

<h1 class="xi-zone-name">Install Guides</h1>

<div class="install-os">
    <a href="/xi/install/windows">
        <img src="/ext/madetoraid/lsbbb/styles/all/theme/images/windows_logo.svg"><br>
        Windows
    </a>
</div>
<div class="install-os">
    <a href="/xi/install/linux">
        <img src="/ext/madetoraid/lsbbb/styles/all/theme/images/tux.svg"><br>
        Linux
    </a>
</div>
<div class="install-os">
    <img src="/ext/madetoraid/lsbbb/styles/all/theme/images/steam_deck.svg"><br>
    Steam Deck
</div>

{% include 'overall_footer.html' %}