<h3 class="first">Standard Jobs</h3>
<table class="joblist responsive">
	<tbody>
		<tr>
			<td><a class="joblistimg" href="{LSBBB_JOB_URL}1"><img src="{LSBBB_URL}/styles/all/theme/images/job1.jpg"></a><strong>Warrior</strong><p>Specializing in the arts of battle, warriors act as shields, protecting their comrades from enemy attacks.</p></td>
			<td><a class="joblistimg" href="{LSBBB_JOB_URL}2"><img src="{LSBBB_URL}/styles/all/theme/images/job2.jpg"></a><strong>Monk</strong><p>With their bodies that double as deadly weapons, monks attack enemies with explosive strength-filled punches and kicks.</p></td>
			<td><a class="joblistimg" href="{LSBBB_JOB_URL}3"><img src="{LSBBB_URL}/styles/all/theme/images/job3.jpg"></a><strong>White Mage</strong><p>By using recovery spells and healing magic, white mages ensure a party's survival.</p></td>
		</tr>
		<tr>
			<td><a class="joblistimg" href="{LSBBB_JOB_URL}4"><img src="{LSBBB_URL}/styles/all/theme/images/job4.jpg"></a><strong>Black Mage</strong><p>Through devastating magic spells, black mages bring tremendous firepower to the battlefield.</p></td>
			<td><a class="joblistimg" href="{LSBBB_JOB_URL}5"><img src="{LSBBB_URL}/styles/all/theme/images/job5.jpg"></a><strong>Red Mage</strong><p>These fighter-mages can utilize both black and white magic, as well as the arts of the sword.</p></td>
			<td><a class="joblistimg" href="{LSBBB_JOB_URL}6"><img src="{LSBBB_URL}/styles/all/theme/images/job6.jpg"></a><strong>Thief</strong><p>Specializing in covert actions, thieves are masters in the art of controlling the flow of battle.</p></td>
		</tr>
	</tbody>
</table>
<h3 class="first">Unlockable Jobs</h3>
<table class="joblist responsive">
	<tbody>
		<tr>
			<td><a class="joblistimg" href="{LSBBB_JOB_URL}7"><img src="{LSBBB_URL}/styles/all/theme/images/job7.jpg"></a><strong>Paladin</strong><p>Paladins specialize in close-range combat, just like warriors. However, through long hours of spiritual training, paladins have acquired the ability to cast white magic spells, making them even more valuable on the battlefield.</p></td>
			<td><a class="joblistimg" href="{LSBBB_JOB_URL}8"><img src="{LSBBB_URL}/styles/all/theme/images/job8.jpg"></a><strong>Dark Knight</strong><p>To strengthen themselves in battle, not only have these outlaw warriors mastered the ways of numerous weapons, but they have also acquired certain black magic spells to torment their enemies.</p></td>
			<td><a class="joblistimg" href="{LSBBB_JOB_URL}9"><img src="{LSBBB_URL}/styles/all/theme/images/job9.jpg"></a><strong>Beastmaster</strong><p>These experts in monster research have trained tirelessly to communicate with--and even control--the animals of Vana'diel.</p></td>
		</tr>
		<tr>
			<td><a class="joblistimg" href="{LSBBB_JOB_URL}10"><img src="{LSBBB_URL}/styles/all/theme/images/job10.jpg"></a><strong>Bard</strong><p>A bright tune to soothe a party's wounds... A brisk march to raise a party's spirits... A forbidden chant to weaken a party's foes... The bards of Vana'diel use music as their weapon.</p></td>
			<td><a class="joblistimg" href="{LSBBB_JOB_URL}11"><img src="{LSBBB_URL}/styles/all/theme/images/job11.jpg"></a><strong>Ranger</strong><p>With unparalleled tracking abilities and skill with the bow and arrow, rangers are experts in the field of hunting.</p></td>
			<td><a class="joblistimg" href="{LSBBB_JOB_URL}12"><img src="{LSBBB_URL}/styles/all/theme/images/job12.jpg"></a><strong>Samurai</strong><p>With unparalleled tracking abilities and skill with the bow and arrow, rangers are experts in the field of hunting.</p></td>
		</tr>
		<tr>
			<td><a class="joblistimg" href="{LSBBB_JOB_URL}13"><img src="{LSBBB_URL}/styles/all/theme/images/job13.jpg"></a><strong>Ninja</strong><p>Strict training in the forbidden arts of the Far East have transformed these fighters into cold, hard killing machines.</p></td>
			<td><a class="joblistimg" href="{LSBBB_JOB_URL}14"><img src="{LSBBB_URL}/styles/all/theme/images/job14.jpg"></a><strong>Dragoon</strong><p>With their lances in hand and their faithful wyverns by their sides, dragoons surprise their enemies with their extraordinary jumping abilities.</p></td>
			<td><a class="joblistimg" href="{LSBBB_JOB_URL}15"><img src="{LSBBB_URL}/styles/all/theme/images/job15.jpg"></a><strong>Summoner</strong><p>By making pacts with the legendary "avatars", these heretic mages have unlocked the secrets to the forbidden magic of Vana'diel to unleash devastating force on their enemies.</p></td>
		</tr>
		<tr>
			<td><a class="joblistimg" href="{LSBBB_JOB_URL}16"><img src="{LSBBB_URL}/styles/all/theme/images/job16.jpg"></a><strong>Blue Mage</strong><p>Employing the legendary arts of Aht Urhgan, these formidable fighter-mages employ elegantly curved blades for close combat, while decimating their enemies from afar with fell magic mastered from their opponents.</p></td>
			<td><a class="joblistimg" href="{LSBBB_JOB_URL}17"><img src="{LSBBB_URL}/styles/all/theme/images/job17.jpg"></a><strong>Corsair</strong><p>Descendants of the dauntless pirates that once scourged the seas of the Near East, corsairs rely on the “Hexagun", a multi-barreled revolver, and elaborate luck-based abilities to alter the stakes of battle.</p></td>
			<td><a class="joblistimg" href="{LSBBB_JOB_URL}18"><img src="{LSBBB_URL}/styles/all/theme/images/job18.jpg"></a><strong>Puppetmaster</strong><p>These wandering performers entertain crowds and confound their enemies with a customizable puppet known as an "automaton." Puppetmasters can also fall back on hand-to-hand fighting skills that utilize the flexible movements of their art.</p></td>
		</tr>
		<tr>
			<td><a class="joblistimg" href="{LSBBB_JOB_URL}19"><img src="{LSBBB_URL}/styles/all/theme/images/job19.jpg"></a><strong>Dancer</strong><p>With their aggressive steps, these thewy terpsichoreans would weave forbidden magic upon themselves and their enemies, producing results rivaling those of even the most powerful sorcerer</p></td>
			<td><a class="joblistimg" href="{LSBBB_JOB_URL}20"><img src="{LSBBB_URL}/styles/all/theme/images/job20.jpg"></a><strong>Scholar</strong><p>During the Crystal War, these military tacticians often served as high-ranking officers in allied forces across Vana'diel. Extensive knowledge of ancient martial theory granted them the ability to wield dual schools of magic, between which they would alternate depending on the situation at hand.</p></td>
			<td></td>
		</tr>
	</tbody>
</table>