<!-- IF mobrow -->
<div class="forabg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt class="itemname">
						<div class="list-inner">{L_LSBBB_MOB}</div>
					</dt>
					<dd class="zonename">{L_LSBBB_ZONE}</dd>
					<dd class="mobname">{L_LSBBB_LEVEL}</dd>
					<dd class="topics">{L_LSBBB_FAMILY}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
			<!-- BEGIN mobrow -->
			<dl class="row-item">
				<dt class="itemname">
					<div class="list-inner">
						<a href="{mobrow.moburl}" class="forumtitle">{mobrow.name}</a>
						<!-- IF mobrow.aggro > 0 -->
						<!-- BEGIN mobrow.detects -->
						<span class="mobaggro aggro{mobrow.detects.class}" title="{mobrow.detects.detect}"><!-- IF mobrow.true_detection > 0 -->True <!-- ENDIF -->{mobrow.detects.detect}</span>
						<!-- END mobrow.detects -->
						<!-- ENDIF -->
						<!-- IF mobrow.links > 0 --><span class="mobaggro moblinks" title="Links">Links</span><!-- ENDIF -->
						<br /><a href="https://ffxiclopedia.fandom.com/wiki/{mobrow.name}" target="_new">{L_LSBBB_FFXICLOPEDIA}</a>
					</div>
				</dt>
				<dd class="zonename"><a href="/xi/zone/{mobrow.zoneid}">{mobrow.zone}</a></dd>
				<dd class="mobname">{mobrow.minlevel}<!-- IF mobrow.minlevel != mobrow.maxlevel --> - {mobrow.maxlevel}<!-- ENDIF --></dd>
				<dd class="topics">{mobrow.family}</dd>
			</dl>
			</li>
			<!-- END mobrow -->
		</ul>
	</div>
</div>
<!-- ENDIF -->