<!-- IF mobrow -->
<div class="forabg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt class="mobname">
						<div class="list-inner">{L_LSBBB_MOB}</div>
					</dt>
					<dd class="mobdata">{L_LSBBB_MOB_GROUP}</dd>
					<dd class="mobdata">{L_LSBBB_MOBID}</dd>
					<dd class="mobdata">{L_LSBBB_MOBHEX}</dd>
					<dd class="mobdata">{L_LSBBB_ZONE}</dd>
					<dd class="mobposition">{L_LSBBB_POSITION}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
			<!-- BEGIN mobrow -->
			<script language="javascript">
				var mobname = '';
				if (2 == { mobrow.mobtype }) {
					mobname = '{mobrow.name}';
				}
			</script>
			<dl class="row-item">
				<dt class="mobname">
					<div class="list-inner">
						<a href="{mobrow.moburl}" class="forumtitle">{mobrow.name}</a> <!-- IF mobrow.mobtype == 2 --> <b>({L_LSBBB_NM})</b><!-- ENDIF --></td>
						<!-- IF mobrow.aggro > 0 -->
						<!-- BEGIN mobrow.detects -->
						<span class="mobaggro aggro{mobrow.detects.class}" title="{mobrow.detects.detect}"><!-- IF mobrow.true_detection > 0 -->True <!-- ENDIF -->{mobrow.detects.detect}</span>
						<!-- END mobrow.detects -->
						<!-- ENDIF -->
						<!-- IF mobrow.links > 0 --><span class="mobaggro moblinks" title="Links">Links</span><!-- ENDIF -->
						<br /><a href="https://ffxiclopedia.fandom.com/wiki/{mobrow.name}" target="_new">{L_LSBBB_FFXICLOPEDIA}</a>
					</div>
				</dt>
				<dd class="mobdata"><a href="{LSBBB_MOB_GROUP_URL}">{mobrow.groupname}</a></dd>
				<dd class="mobdata">{mobrow.id}</dd>
				<dd class="mobdata">{mobrow.hex}</dd>
				<dd class="mobdata"><a href="/xi/zone/{mobrow.zoneid}">{mobrow.zone}</a></dd>
				<dd class="mobposition">{mobrow.pos_x}, {mobrow.pos_x}, {mobrow.pos_x}</dd>
			</dl>
			</li>
			<!-- END mobrow -->
		</ul>
	</div>
</div>
<!-- ENDIF -->