<span class="worldmaptitle">{L_AGE_OF_ADVENTURERS}</span>
<div class="xiconquest">
	<div class="ximapregion" id="sandoria">
		{L_SANDORIA} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_0.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}230">{L_SOUTHERN_SAN_DORIA}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}231">{L_NORTHERN_SAN_DORIA}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}232">{L_PORT_SAN_DORIA}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}233">{L_CHATEAU_DORAGUILLE}</a></li>
		</ul>
	</div>

	<div class="ximapregion" id="bastok">
		{L_BASTOK} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_1.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}234">{L_BASTOK_MINES}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}235">{L_BASTOK_MARKETS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}236">{L_PORT_BASTOK}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}237">{L_METALWORKS}</a></li>
		</ul>
	</div>

	<div class="ximapregion" id="windurst">
		{L_WINDURST} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_2.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}238">{L_WINDURST_WATERS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}239">{L_WINDURST_WALLS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}240">{L_PORT_WINDURST}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}241">{L_WINDURST_WOODS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}242">{L_HEAVENS_TOWER}</a></li>
		</ul>
	</div>

	<div class="ximapregion" id="ronfaure">
		{L_RONFAURE} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_{RONFAURE}.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}100">{L_WEST_RONFAURE}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}101">{L_EAST_RONFAURE}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}139">{L_HORLAIS_PEAK}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}140">{L_GHELSBA_OUTPOST}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}141">{L_FORT_GHELSBA}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}142">{L_YUGHOTT_GROTTO}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}167">{L_BOSTAUNIEUX_OUBLIETTE}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}190">{L_KING_RANPERRES_TOMB}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="gustaberg">
		{L_GUSTABERG} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_{GUSTABERG}.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}106">{L_NORTH_GUSTABERG}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}107">{L_SOUTH_GUSTABERG}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}143">{L_PALBOROUGH_MINES}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}144">{L_WAUGHROON_SHRINE}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}172">{L_ZERUHN_MINES}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}173">{L_KORROLOKA_TUNNEL}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}191">{L_DANGRUF_WADI}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="sarutabaruta">
		{L_SARUTABARUTA} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_{SARUTABARUTA}.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}115">{L_WEST_SARUTABARUTA}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}116">{L_EAST_SARUTABARUTA}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}145">{L_GIDDEUS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}146">{L_BALGAS_DAIS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}169">{L_TORAIMARAI_CANAL}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}170">{L_FULL_MOON_FOUNTAIN}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}192">{L_INNER_HORUTOTO_RUINS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}194">{L_OUTER_HORUTOTO_RUINS}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="zulkheim">
		{L_ZULKHEIM} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_{ZULKHEIM}.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}102">{L_LA_THEINE_PLATEAU}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}103">{L_VALKURM_DUNES}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}108">{L_KONSCHTAT_HIGHLANDS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}193">{L_ORDELLES_CAVES}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}196">{L_GUSGEN_MINES}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}248">{L_SELBINA}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="kolshushu">
		{L_KOLSHUSHU} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_{KOLSHUSHU}.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}117">{L_TAHRONGI_CANYON}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}118">{L_BUBURIMU_PENINSULA}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}213">{L_LABYRINTH_OF_ONZOZO}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}198">{L_MAZE_OF_SHAKHRAMI}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}249">{L_MHAURA}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}4">{L_BIBIKI_BAY}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}3">{L_MANACLIPPER}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="norvallen">
		{L_NORVALLEN} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_{NORVALLEN}.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}104">{L_JUGNER_FOREST}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}105">{L_BATALLIA_DOWNS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}1">{L_PHANAUET_CHANNEL}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}2">{L_CARPENTERS_LANDING}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}149">{L_DAVOI}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}150">{L_MONASTIC_CAVERN}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}195">{L_THE_ELDIEME_NECROPOLIS}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="derfland">
		{L_DERFLAND} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_{DERFLAND}.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}109">{L_PASHHOW_MARSHLANDS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}110">{L_ROLANBERRY_FIELDS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}197">{L_CRAWLERS_NEST}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}147">{L_BEADEAUX}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}148">{L_QULUN_DOME}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="aragoneu">
		{L_ARAGONEU} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_{ARAGONEU}.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}119">{L_MERIPHATAUD_MOUNTAINS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}120">{L_SAUROMUGUE_CHAMPAIGN}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}200">{L_GARLAIGE_CITADEL}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}151">{L_CASTLE_OZTROJA}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}152">{L_ALTAR_ROOM}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}7">{L_ATTOHWA_CHASM}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}8">{L_BONEYARD_GULLY}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="jeuno">
		{L_JEUNO} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_4.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}243">{L_RULUDE_GARDENS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}244">{L_UPPER_JEUNO}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}245">{L_LOWER_JEUNO}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}246">{L_PORT_JEUNO}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="qufim">
		{L_QUFIM} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_{QUFIMISLAND}.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}126">{L_QUFIM_ISLAND}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}127">{L_BEHEMOTHS_DOMINION}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}184">{L_LOWER_DELKFUTTS_TOWER}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}157">{L_MIDDLE_DELKFUTTS_TOWER}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}158">{L_UPPER_DELKFUTTS_TOWER}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}179">{L_STELLAR_FULCRUM}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="elshimolowlands">
		{L_ELSHIMOLOWLANDS} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_{ELSHIMOLOWLANDS}.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}124">{L_YHOATOR_JUNGLE}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}176">{L_SEA_SERPENT_GROTTO}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}250">{L_KAZHAM}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}252">{L_NORG}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="elshimouplands">
		{L_ELSHIMOUPLANDS} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_{ELSHIMOUPLANDS}.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}123">{L_YUHTUNGA_JUNGLE}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}159">{L_TEMPLE_OF_UGGALEPIH}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}160">{L_DEN_OF_RANCOR}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}163">{L_SACRIFICIAL_CHAMBER}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}205">{L_IFRITS_CAULDRON}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}207">{L_CLOISTER_OF_FLAMES}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}211">{L_CLOISTER_OF_TIDES}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="kuzotz">
		{L_KUZOTZ} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_{KUZOTZ}.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}114">{L_EASTERN_ALTEPA_DESERT}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}125">{L_WESTERN_ALTEPA_DESERT}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}168">{L_CHAMBER_OF_ORACLES}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}208">{L_QUICKSAND_CAVES}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}209">{L_CLOISTER_OF_TREMORS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}247">{L_RABAO}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="vollbow">
		{L_VOLLBOW} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_{VOLLBOW}.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}113">{L_CAPE_TERIGGAN}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}128">{L_VALLEY_OF_SORROWS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}174">{L_KUFTAL_TUNNEL}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}201">{L_CLOISTER_OF_GALES}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}212">{L_GUSTAV_TUNNEL}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="valdeaunia">
		{L_VALDEAUNIA} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_{VALDEAUNIA}.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}5">{L_ULEGUERAND_RANGE}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}6">{L_BEARCLAW_PINNACLE}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}112">{L_XARCABARD}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}161">{L_CASTLE_ZVAHL_BAILEYS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}162">{L_CASTLE_ZVAHL_KEEP}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}165">{L_THRONE_ROOM}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="fauregandi">
		{L_FAUREGANDI} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_{FAUREGANDI}.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}9">{L_PSOXJA}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}10">{L_THE_SHROUDED_MAW}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}111">{L_BEAUCEDINE_GLACIER}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}166">{L_RANGUEMONT_PASS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}203">{L_CLOISTER_OF_FROST}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}204">{L_FEIYIN}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}206">{L_QUBIA_ARENA}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="litelor">
		{L_LITELOR} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_{LITELOR}.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}121">{L_THE_SANCTUARY_OF_ZITAH}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}122">{L_ROMAEVE}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}153">{L_THE_BOYAHDA_TREE}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}154">{L_DRAGONS_AERY}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}202">{L_CLOISTER_OF_STORMS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}251">{L_HALL_OF_THE_GODS}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="tulia">
		{L_TULIA} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_{TULIA}.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}130">{L_RUAUN_GARDENS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}177">{L_VELUGANNON_PALACE}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}178">{L_THE_SHRINE_OF_RUAVITAU}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}180">{L_LALOFF_AMPHITHEATER}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}181">{L_THE_CELESTIAL_NEXUS}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="tavnazia">
		{L_TAVNAZIAN_ARCHIPELAGO} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_{TAVNAZIA}.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}24">{L_LUFAISE_MEADOWS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}25">{L_MISAREAUX_COAST}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}26">{L_TAVNAZIAN_SAFEHOLD}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}27">{L_PHOMIUNA_AQUEDUCTS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}28">{L_SACRARIUM}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}29">{L_RIVERNE_SITE_B01}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}30">{L_RIVERNE_SITE_A01}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}31">{L_MONARCH_LINN}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}32">{L_SEALIONS_DEN}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="movalpolos">
		{L_MOVALPOLOS} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_{MOVALPOLOS}.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}11">{L_OLDTON_MOVALPOLOS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}12">{L_NEWTON_MOVALPOLOS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}13">{L_MINE_SHAFT_2716}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="lumoria">
		{L_LUMORIA}
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}33">{L_ALTAIEU}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}34">{L_GRAND_PALACE_OF_HUXZOI}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}35">{L_THE_GARDEN_OF_RUHMET}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}36">{L_EMPYREAL_PARADOX}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="ahturhgan">
		{L_WEST_AHT_URHGAN} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/nation_5.jpg">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}48">{L_AL_ZAHBI}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}50">{L_AHT_URHGAN_WHITEGATE}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}52">{L_BHAFLAU_THICKETS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}71">{L_THE_COLOSSEUM}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="mamooljasavagelands">
		{L_MAMOOL_JA_SAVAGE}
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}51">{L_WAJAOM_WOODLANDS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}68">{L_AYDEEWA_SUBTERRANE}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}65">{L_MAMOOK}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}66">{L_MAMOOL_JA_TRAINING_GROUNDS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}67">{L_JADE_SEPULCHER}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="halvung">
		{L_HALVUNG_TERRITORY}
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}61">{L_MOUNT_ZHAYOLM}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}62">{L_HALVUNG}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}63">{L_LEBROS_CAVERN}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}64">{L_NAVUKGO_EXECUTION_CHAMBER}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="arrapago">
		{L_ARRAPAGO}
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}53">{L_NASHMAU}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}54">{L_ARRAPAGO_REEF}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}55">{L_ILRUSI_ATOLL}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}56">{L_PERIQIA}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}57">{L_TALACCA_COVE}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}60">{L_THE_ASHU_TALIF}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}78">{L_HAZHALM_TESTING_GROUNDS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}79">{L_CAEDARVA_MIRE}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}69">{L_LEUJAOAM_SANCTUM}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="alzadaal">
		{L_ALZADAAL}
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}72">{L_ALZADAAL_UNDERSEA_RUINS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}73">{L_ZHAYOLM_REMNANTS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}74">{L_ARRAPAGO_REMNANTS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}75">{L_BHAFLAU_REMNANTS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}76">{L_SILVER_SEA_REMNANTS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}77">{L_NYZUL_ISLE}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="dynamis">
		{L_DYNAMIS} <img class="regioncontrol" src="{LSBBB_URL}/styles/all/theme/images/shadowlord.png">
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}185">{L_DYNAMIS_SAN_DORIA}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}186">{L_DYNAMIS_BASTOK}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}187">{L_DYNAMIS_WINDURST}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}188">{L_DYNAMIS_JEUNO}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}134">{L_DYNAMIS_BEAUCEDINE}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}135">{L_DYNAMIS_XARCABARD}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}39">{L_DYNAMIS_VALKURM}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}40">{L_DYNAMIS_BUBURIMU}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}41">{L_DYNAMIS_QUFIM}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}42">{L_DYNAMIS_TAVNAZIA}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="emptiness">
		{L_PROMYVION}
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}14">{L_HALL_OF_TRANSFERENCE}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}16">{L_PROMYVION_HOLLA}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}17">{L_SPIRE_OF_HOLLA}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}18">{L_PROMYVION_DEM}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}19">{L_SPIRE_OF_DEM}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}20">{L_PROMYVION_MEA}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}21">{L_SPIRE_OF_MEA}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}22">{L_PROMYVION_VAHZL}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}23">{L_SPIRE_OF_VAHZL}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="limbus">
		{L_LIMBUS}
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}37">{L_TEMENOS}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}38">{L_APOLLYON}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="transportation">
		{L_TRANSPORTATION}
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}46">{L_OPEN_SEA_ROUTE_TO_AL_ZAHBI}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}47">{L_OPEN_SEA_ROUTE_TO_MHAURA}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}58">{L_SILVER_SEA_ROUTE_TO_NASHMAU}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}59">{L_SILVER_SEA_ROUTE_TO_AL_ZAHBI}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}220">{L_SHIP_BOUND_FOR_SELBINA}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}221">{L_SHIP_BOUND_FOR_MHAURA}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}223">{L_SAN_DORIA_JEUNO_AIRSHIP}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}224">{L_BASTOK_JEUNO_AIRSHIP}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}225">{L_WINDURST_JEUNO_AIRSHIP}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}226">{L_KAZHAM_JEUNO_AIRSHIP}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}227">{L_SHIP_BOUND_FOR_SELBINA_PIRATES}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}228">{L_SHIP_BOUND_FOR_MHAURA_PIRATES}</a></li>
		</ul>
	</div>
</div>
<hr>
<span class="worldmaptitle">{L_THE_CRYSTAL_WAR}</span>
<div class="xicampaign">
	<div class="ximapregion" id="ronfaure_s">
		The Ronfaure Front
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}80">{L_SOUTHERN_SAN_DORIA_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}81">{L_EAST_RONFAURE_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}86">{L_EVERBLOOM_HOLLOW}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="norvallen_s">
		{L_NORVALLEN_FRONT}
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}82">{L_JUGNER_FOREST_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}83">{L_VUNKERL_INLET_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}84">{L_BATALLIA_DOWNS_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}85">{L_LA_VAULE_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}175">{L_THE_ELDIEME_NECROPOLIS_S}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="gustaberg_s">
		{L_GUSTABERG_FRONT}
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}87">{L_BASTOK_MARKETS_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}88">{L_NORTH_GUSTABERG_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}89">{L_GRAUBERG_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}93">{L_RUHOTZ_SILVERMINES}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="derfland_s">
		{L_DERFLAND_FRONT}
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}90">{L_PASHHOW_MARSHLANDS_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}91">{L_ROLANBERRY_FIELDS_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}92">{L_BEADEAUX_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}171">{L_CRAWLERS_NEST_S}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="sarutabaruta_s">
		{L_SARUTA_FRONT}
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}94">{L_WINDURST_WATERS_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}95">{L_WEST_SARUTABARUTA_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}96">{L_FORT_KARUGO_NARUGO_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}129">{L_GHOYUS_REVERIE}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="aragoneu_s">
		{L_ARAGONEAU_FRONT}
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}97">{L_MERIPHATAUD_MOUNTAINS_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}98">{L_SAUROMUGUE_CHAMPAIGN_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}99">{L_CASTLE_OZTROJA_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}164">{L_GARLAIGE_CITADEL_S}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="valdeaunia_s">
		{L_VALDEAUNIA_FRONT}
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}137">{L_XARCABARD_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}138">{L_CASTLE_ZVAHL_BAILEYS_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}155">{L_CASTLE_ZVAHL_KEEP_S}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}156">{L_THRONE_ROOM_S}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="fauregandi_s">
		{L_FAUREGANDI_FRONT}
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}136">{L_BEAUCEDINE_GLACIER_S}</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="threshold_s">
		{L_THE_THRESHOLD}
		<ul>
			<li><a href="{LSBBB_ZONE_ROUTE}182">{L_WALK_OF_ECHOES}</a></li>
			<li><a href="{LSBBB_ZONE_ROUTE}222">{L_PROVENANCE}</a></li>
		</ul>
	</div>
</div>

<div style="display: none">
	<ul>
		<li><a href="{LSBBB_ZONE_ROUTE}15">{L_ABYSSEA_KONSCHTAT}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}43">{L_DIORAMA_ABDHALJS-GHELSBA}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}44">{L_ABDHALJS_ISLE_PURGONORGO}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}45">{L_ABYSSEA_TAHRONGI}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}70">{L_CHOCOBO_CIRCUIT}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}132">{L_ABYSSEA_LA_THEINE}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}133">{L_OUTER_RAKAZNAR_U2}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}183">{L_MAQUETTE_ABDHALJS_LEGION_A}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}189">{L_OUTER_RAKAZNAR_U3}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}215">{L_ABYSSEA_ATTOHWA}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}216">{L_ABYSSEA_MISAREAUX}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}217">{L_ABYSSEA_VUNKERL}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}218">{L_ABYSSEA_ALTEPA}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}229">{L_THRONE_ROOM_V}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}253">{L_ABYSSEA_ULEGUERAND}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}254">{L_ABYSSEA_GRAUBERG}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}255">{L_ABYSSEA_EMPYREAL_PARADOX}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}256">{L_WESTERN_ADOULIN}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}257">{L_EASTERN_ADOULIN}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}258">{L_RALA_WATERWAYS}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}259">{L_RALA_WATERWAYS_U}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}260">{L_YAHSE_HUNTING_GROUNDS}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}261">{L_CEIZAK_BATTLEGROUNDS}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}262">{L_FORET_DE_HENNETIEL}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}263">{L_YORCIA_WEALD}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}264">{L_YORCIA_WEALD_U}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}265">{L_MORIMAR_BASALT_FIELDS}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}266">{L_MARJAMI_RAVINE}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}267">{L_KAMIHR_DRIFTS}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}268">{L_SIH_GATES}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}269">{L_MOH_GATES}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}270">{LCIRDAS_CAVERNS}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}271">{L_CIRDAS_CAVERNS_U}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}272">{L_DHO_GATES}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}273">{L_WOH_GATES}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}274">{OUTER_RAKAZNAR}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}275">{L_OUTER_RAKAZNAR_U1}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}276">{L_RAKAZNAR_INNER_COURT}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}277">{L_RAKAZNAR_TURRIS}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}278">{L_GWORA_CORRIDOR}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}279">{L_WALK_OF_ECHOES_P2}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}280">{L_MOG_GARDEN}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}281">{L_LEAFALLIA}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}282">{L_MOUNT_KAMIHR}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}283">{L_SILVER_KNIFE}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}284">{L_CELENNIA_MEMORIAL_LIBRARY}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}285">{L_FERETORY}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}287">{L_MAQUETTE_ABDHALJS_LEGION_B}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}288">{L_ESCHA_ZITAH}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}289">{L_ESCHA_RUAUN}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}290">{L_DESUETIA_EMPYREAL_PARADOX}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}291">{L_REISENJIMA}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}292">{L_REISENJIMA_HENGE}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}293">{L_REISENJIMA_SANCTORIUM}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}294">{L_DYNAMIS_SAN_DORIA_D}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}295">{L_DYNAMIS_BASTOK_D}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}296">{L_DYNAMIS_WINDURST_D}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}297">{L_DYNAMIS_JEUNO_D}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}298">{L_WALK_OF_ECHOES_P1}</a></li>
		<li><a href="{LSBBB_ZONE_ROUTE}299">{L_GWORA_THRONE_ROOM}</a></li>
	</ul>
</div>