<span class="worldmaptitle">Age of Adventurers</span>
<div class="xiconquest">
	<div class="ximapregion" id="sandoria">
		San d'Oria <img class="regioncontrol" src="/xi/images/nation_0.jpg">
		<ul>
			<li><a href="/xi/zone/230">Southern San dOria</a></li>
			<li><a href="/xi/zone/231">Northern San dOria</a></li>
			<li><a href="/xi/zone/232">Port San dOria</a></li>
			<li><a href="/xi/zone/233">Chateau dOraguille</a></li>
		</ul>
	</div>

	<div class="ximapregion" id="bastok">
		Bastok <img class="regioncontrol" src="/xi/images/nation_1.jpg">
		<ul>
			<li><a href="/xi/zone/234">Bastok Mines</a></li>
			<li><a href="/xi/zone/235">Bastok Markets</a></li>
			<li><a href="/xi/zone/236">Port Bastok</a></li>
			<li><a href="/xi/zone/237">Metalworks</a></li>
		</ul>
	</div>

	<div class="ximapregion" id="windurst">
		Windurst <img class="regioncontrol" src="/xi/images/nation_2.jpg">
		<ul>
			<li><a href="/xi/zone/238">Windurst Waters</a></li>
			<li><a href="/xi/zone/239">Windurst Walls</a></li>
			<li><a href="/xi/zone/240">Port Windurst</a></li>
			<li><a href="/xi/zone/241">Windurst Woods</a></li>
			<li><a href="/xi/zone/242">Heavens Tower</a></li>
		</ul>
	</div>

	<div class="ximapregion" id="ronfaure">
		Ronfaure <img class="regioncontrol" src="/xi/images/nation_{RONFAURE}.jpg">
		<ul>
			<li><a href="/xi/zone/100">West Ronfaure</a></li>
			<li><a href="/xi/zone/101">East Ronfaure</a></li>
			<li><a href="/xi/zone/139">Horlais Peak</a></li>
			<li><a href="/xi/zone/140">Ghelsba Outpost</a></li>
			<li><a href="/xi/zone/141">Fort Ghelsba</a></li>
			<li><a href="/xi/zone/142">Yughott Grotto</a></li>
			<li><a href="/xi/zone/167">Bostaunieux Oubliette</a></li>
			<li><a href="/xi/zone/190">King Ranperres Tomb</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="gustaberg">
		Gustaberg <img class="regioncontrol" src="/xi/images/nation_{GUSTABERG}.jpg">
		<ul>
			<li><a href="/xi/zone/106">North Gustaberg</a></li>
			<li><a href="/xi/zone/107">South Gustaberg</a></li>
			<li><a href="/xi/zone/143">Palborough Mines</a></li>
			<li><a href="/xi/zone/144">Waughroon Shrine</a></li>
			<li><a href="/xi/zone/172">Zeruhn Mines</a></li>
			<li><a href="/xi/zone/173">Korroloka Tunnel</a></li>
			<li><a href="/xi/zone/191">Dangruf Wadi</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="sarutabaruta">
		Sarutabaruta <img class="regioncontrol" src="/xi/images/nation_{SARUTABARUTA}.jpg">
		<ul>
			<li><a href="/xi/zone/115">West Sarutabaruta</a></li>
			<li><a href="/xi/zone/116">East Sarutabaruta</a></li>
			<li><a href="/xi/zone/145">Giddeus</a></li>
			<li><a href="/xi/zone/146">Balgas Dais</a></li>
			<li><a href="/xi/zone/169">Toraimarai Canal</a></li>
			<li><a href="/xi/zone/170">Full Moon Fountain</a></li>
			<li><a href="/xi/zone/192">Inner Horutoto Ruins</a></li>
			<li><a href="/xi/zone/194">Outer Horutoto Ruins</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="zulkheim">
		Zulkheim <img class="regioncontrol" src="/xi/images/nation_{ZULKHEIM}.jpg">
		<ul>
			<li><a href="/xi/zone/102">La Theine Plateau</a></li>
			<li><a href="/xi/zone/103">Valkurm Dunes</a></li>
			<li><a href="/xi/zone/108">Konschtat Highlands</a></li>
			<li><a href="/xi/zone/193">Ordelles Caves</a></li>
			<li><a href="/xi/zone/196">Gusgen Mines</a></li>
			<li><a href="/xi/zone/248">Selbina</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="kolshushu">
		Kolshushu <img class="regioncontrol" src="/xi/images/nation_{KOLSHUSHU}.jpg">
		<ul>
			<li><a href="/xi/zone/117">Tahrongi Canyon</a></li>
			<li><a href="/xi/zone/118">Buburimu Peninsula</a></li>
			<li><a href="/xi/zone/213">Labyrinth of Onzozo</a></li>
			<li><a href="/xi/zone/198">Maze of Shakhrami</a></li>
			<li><a href="/xi/zone/249">Mhaura</a></li>
			<li><a href="/xi/zone/4">Bibiki Bay</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="norvallen">
		Norvallen <img class="regioncontrol" src="/xi/images/nation_{NORVALLEN}.jpg">
		<ul>
			<li><a href="/xi/zone/104">Jugner Forest</a></li>
			<li><a href="/xi/zone/105">Batallia Downs</a></li>
			<li><a href="/xi/zone/1">Phanauet Channel</a></li>
			<li><a href="/xi/zone/2">Carpenters Landing</a></li>
			<li><a href="/xi/zone/149">Davoi</a></li>
			<li><a href="/xi/zone/150">Monastic Cavern</a></li>
			<li><a href="/xi/zone/195">The Eldieme Necropolis</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="derfland">
		Derfland <img class="regioncontrol" src="/xi/images/nation_{DERFLAND}.jpg">
		<ul>
			<li><a href="/xi/zone/109">Pashhow Marshlands</a></li>
			<li><a href="/xi/zone/110">Rolanberry Fields</a></li>
			<li><a href="/xi/zone/197">Crawlers Nest</a></li>
			<li><a href="/xi/zone/147">Beadeaux</a></li>
			<li><a href="/xi/zone/148">Qulun Dome</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="aragoneu">
		Aragoneau <img class="regioncontrol" src="/xi/images/nation_{ARAGONEU}.jpg">
		<ul>
			<li><a href="/xi/zone/119">Meriphataud Mountains</a></li>
			<li><a href="/xi/zone/120">Sauromugue Champaign</a></li>
			<li><a href="/xi/zone/200">Garlaige Citadel</a></li>
			<li><a href="/xi/zone/151">Castle Oztroja</a></li>
			<li><a href="/xi/zone/152">Altar Room</a></li>
			<li><a href="/xi/zone/7">Attohwa Chasm</a></li>
			<li><a href="/xi/zone/8">Boneyard Gully</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="jeuno">
		Jeuno <img class="regioncontrol" src="/xi/images/nation_4.jpg">
		<ul>
			<li><a href="/xi/zone/243">RuLude Gardens</a></li>
			<li><a href="/xi/zone/244">Upper Jeuno</a></li>
			<li><a href="/xi/zone/245">Lower Jeuno</a></li>
			<li><a href="/xi/zone/246">Port Jeuno</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="qufim">
		Qufim <img class="regioncontrol" src="/xi/images/nation_{QUFIMISLAND}.jpg">
		<ul>
			<li><a href="/xi/zone/126">Qufim Island</a></li>
			<li><a href="/xi/zone/127">Behemoths Dominion</a></li>
			<li><a href="/xi/zone/184">Lower Delkfutts Tower</a></li>
			<li><a href="/xi/zone/157">Middle Delkfutts Tower</a></li>
			<li><a href="/xi/zone/158">Upper Delkfutts Tower</a></li>
			<li><a href="/xi/zone/179">Stellar Fulcrum</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="elshimolowlands">
		Elshimo Lowlands <img class="regioncontrol" src="/xi/images/nation_{ELSHIMOLOWLANDS}.jpg">
		<ul>
			<li><a href="/xi/zone/124">Yhoator Jungle</a></li>
			<li><a href="/xi/zone/176">Sea Serpent Grotto</a></li>
			<li><a href="/xi/zone/250">Kazham</a></li>
			<li><a href="/xi/zone/252">Norg</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="elshimouplands">
		Elshimo Uplands <img class="regioncontrol" src="/xi/images/nation_{ELSHIMOUPLANDS}.jpg">
		<ul>
			<li><a href="/xi/zone/123">Yuhtunga Jungle</a></li>
			<li><a href="/xi/zone/159">Temple of Uggalepih</a></li>
			<li><a href="/xi/zone/160">Den of Rancor</a></li>
			<li><a href="/xi/zone/163">Sacrificial Chamber</a></li>
			<li><a href="/xi/zone/205">Ifrits Cauldron</a></li>
			<li><a href="/xi/zone/207">Cloister of Flames</a></li>
			<li><a href="/xi/zone/211">Cloister of Tides</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="kuzotz">
		Kuzotz <img class="regioncontrol" src="/xi/images/nation_{KUZOTZ}.jpg">
		<ul>
			<li><a href="/xi/zone/114">Eastern Altepa Desert</a></li>
			<li><a href="/xi/zone/125">Western Altepa Desert</a></li>
			<li><a href="/xi/zone/168">Chamber of Oracles</a></li>
			<li><a href="/xi/zone/208">Quicksand Caves</a></li>
			<li><a href="/xi/zone/209">Cloister of Tremors</a></li>
			<li><a href="/xi/zone/247">Rabao</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="vollbow">
		Vollbow <img class="regioncontrol" src="/xi/images/nation_{VOLLBOW}.jpg">
		<ul>
			<li><a href="/xi/zone/113">Cape Teriggan</a></li>
			<li><a href="/xi/zone/128">Valley of Sorrows</a></li>
			<li><a href="/xi/zone/174">Kuftal Tunnel</a></li>
			<li><a href="/xi/zone/201">Cloister of Gales</a></li>
			<li><a href="/xi/zone/212">Gustav Tunnel</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="valdeaunia">
		Valdeaunia <img class="regioncontrol" src="/xi/images/nation_{VALDEAUNIA}.jpg">
		<ul>
			<li><a href="/xi/zone/5">Uleguerand Range</a></li>
			<li><a href="/xi/zone/6">Bearclaw Pinnacle</a></li>
			<li><a href="/xi/zone/112">Xarcabard</a></li>
			<li><a href="/xi/zone/161">Castle Zvahl Baileys</a></li>
			<li><a href="/xi/zone/162">Castle Zvahl Keep</a></li>
			<li><a href="/xi/zone/165">Throne Room</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="fauregandi">
		Fauregandi <img class="regioncontrol" src="/xi/images/nation_{FAUREGANDI}.jpg">
		<ul>
			<li><a href="/xi/zone/9">PsoXja</a></li>
			<li><a href="/xi/zone/10">The Shrouded Maw</a></li>
			<li><a href="/xi/zone/111">Beaucedine Glacier</a></li>
			<li><a href="/xi/zone/166">Ranguemont Pass</a></li>
			<li><a href="/xi/zone/203">Cloister of Frost</a></li>
			<li><a href="/xi/zone/204">FeiYin</a></li>
			<li><a href="/xi/zone/206">QuBia Arena</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="litelor">
		Li'Telor <img class="regioncontrol" src="/xi/images/nation_{LITELOR}.jpg">
		<ul>
			<li><a href="/xi/zone/121">The Sanctuary of ZiTah</a></li>
			<li><a href="/xi/zone/122">RoMaeve</a></li>
			<li><a href="/xi/zone/153">The Boyahda Tree</a></li>
			<li><a href="/xi/zone/154">Dragons Aery</a></li>
			<li><a href="/xi/zone/202">Cloister of Storms</a></li>
			<li><a href="/xi/zone/251">Hall of the Gods</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="tulia">
		Tu'Lia <img class="regioncontrol" src="/xi/images/nation_{TULIA}.jpg">
		<ul>
			<li><a href="/xi/zone/130">RuAun Gardens</a></li>
			<li><a href="/xi/zone/177">VeLugannon Palace</a></li>
			<li><a href="/xi/zone/178">The Shrine of RuAvitau</a></li>
			<li><a href="/xi/zone/180">LaLoff Amphitheater</a></li>
			<li><a href="/xi/zone/181">The Celestial Nexus</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="tavnazia">
		Tavnazian Archipelago <img class="regioncontrol" src="/xi/images/nation_{TAVNAZIA}.jpg">
		<ul>
			<li><a href="/xi/zone/24">Lufaise Meadows</a></li>
			<li><a href="/xi/zone/25">Misareaux Coast</a></li>
			<li><a href="/xi/zone/26">Tavnazian Safehold</a></li>
			<li><a href="/xi/zone/27">Phomiuna Aqueducts</a></li>
			<li><a href="/xi/zone/28">Sacrarium</a></li>
			<li><a href="/xi/zone/29">Riverne-Site B01</a></li>
			<li><a href="/xi/zone/30">Riverne-Site A01</a></li>
			<li><a href="/xi/zone/31">Monarch linn</a></li>
			<li><a href="/xi/zone/32">Sealions Den</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="movalpolos">
		Movalpolos <img class="regioncontrol" src="/xi/images/nation_{MOVALPOLOS}.jpg">
		<ul>
			<li><a href="/xi/zone/11">Oldton Movalpolos</a></li>
			<li><a href="/xi/zone/12">Newton Movalpolos</a></li>
			<li><a href="/xi/zone/13">Mine Shaft 2716</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="lumoria">
		Lumoria
		<ul>
			<li><a href="/xi/zone/33">AlTaieu</a></li>
			<li><a href="/xi/zone/34">Grand Palace of HuXzoi</a></li>
			<li><a href="/xi/zone/35">The Garden of RuHmet</a></li>
			<li><a href="/xi/zone/36">Empyreal Paradox</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="ahturhgan">
		West Aht Urhgan <img class="regioncontrol" src="/xi/images/nation_5.jpg">
		<ul>
			<li><a href="/xi/zone/48">Al Zahbi</a></li>
			<li><a href="/xi/zone/50">Aht Urhgan Whitegate</a></li>
			<li><a href="/xi/zone/52">Bhaflau Thickets</a></li>
			<li><a href="/xi/zone/71">The Colosseum</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="mamooljasavagelands">
		Mamool Ja Savagelands
		<ul>
			<li><a href="/xi/zone/51">Wajaom Woodlands</a></li>
			<li><a href="/xi/zone/68">Aydeewa Subterrane</a></li>
			<li><a href="/xi/zone/65">Mamook</a></li>
			<li><a href="/xi/zone/66">Mamool Ja Training Grounds</a></li>
			<li><a href="/xi/zone/67">Jade Sepulcher</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="halvung">
		Halvung Territory
		<ul>
			<li><a href="/xi/zone/61">Mount Zhayolm</a></li>
			<li><a href="/xi/zone/62">Halvung</a></li>
			<li><a href="/xi/zone/63">Lebros Cavern</a></li>
			<li><a href="/xi/zone/64">Navukgo Execution Chamber</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="arrapago">
		Arrapago Islands
		<ul>
			<li><a href="/xi/zone/53">Nashmau</a></li>
			<li><a href="/xi/zone/54">Arrapago Reef</a></li>
			<li><a href="/xi/zone/55">Ilrusi Atoll</a></li>
			<li><a href="/xi/zone/56">Periqia</a></li>
			<li><a href="/xi/zone/57">Talacca Cove</a></li>
			<li><a href="/xi/zone/78">Hazhalm Testing Grounds</a></li>
			<li><a href="/xi/zone/79">Caedarva Mire</a></li>
			<li><a href="/xi/zone/69">Leujaoam Sanctum</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="alzadaal">
		Ruins of Alzadaal
		<ul>
			<li><a href="/xi/zone/72">Alzadaal Undersea Ruins</a></li>
			<li><a href="/xi/zone/73">Zhayolm Remnants</a></li>
			<li><a href="/xi/zone/74">Arrapago Remnants</a></li>
			<li><a href="/xi/zone/75">Bhaflau Remnants</a></li>

			<li><a href="/xi/zone/77">Nyzul Isle</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="dynamis">
		Dynamis <img class="regioncontrol" src="/xi/images/shadowlord.png">
		<ul>
			<li><a href="/xi/zone/185">Dynamis-San dOria</a></li>
			<li><a href="/xi/zone/186">Dynamis-Bastok</a></li>
			<li><a href="/xi/zone/187">Dynamis-Windurst</a></li>
			<li><a href="/xi/zone/188">Dynamis-Jeuno</a></li>
			<li><a href="/xi/zone/134">Dynamis-Beaucedine</a></li>
			<li><a href="/xi/zone/135">Dynamis-Xarcabard</a></li>
			<li><a href="/xi/zone/39">Dynamis-Valkurm</a></li>
			<li><a href="/xi/zone/40">Dynamis-Buburimu</a></li>
			<li><a href="/xi/zone/41">Dynamis-Qufim</a></li>
			<li><a href="/xi/zone/42">Dynamis-Tavnazia</a></li>
		</ul>
	</div>


	<div class="ximapregion" id="emptiness">
		Emptiness
		<ul>
			<li><a href="/xi/zone/14">Hall of Transference</a></li>
			<li><a href="/xi/zone/16">Promyvion-Holla</a></li>
			<li><a href="/xi/zone/17">Spire of Holla</a></li>
			<li><a href="/xi/zone/18">Promyvion-Dem</a></li>
			<li><a href="/xi/zone/19">Spire of Dem</a></li>
			<li><a href="/xi/zone/20">Promyvion-Mea</a></li>
			<li><a href="/xi/zone/21">Spire of Mea</a></li>
			<li><a href="/xi/zone/22">Promyvion-Vahzl</a></li>
			<li><a href="/xi/zone/23">Spire of Vahzl</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="limbus">
		Limbus
		<ul>
			<li><a href="/xi/zone/37">Temenos</a></li>
			<li><a href="/xi/zone/38">Apollyon</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="transportation">
		Transportation
		<ul>
			<li><a href="/xi/zone/3">Manaclipper</a></li>
			<li><a href="/xi/zone/46">Open sea route to Al Zahbi</a></li>
			<li><a href="/xi/zone/47">Open sea route to Mhaura</a></li>
			<li><a href="/xi/zone/58">Silver Sea route to Nashmau</a></li>
			<li><a href="/xi/zone/59">Silver Sea route to Al Zahbi</a></li>
			<li><a href="/xi/zone/220">Ship bound for Selbina</a></li>
			<li><a href="/xi/zone/221">Ship bound for Mhaura</a></li>
			<li><a href="/xi/zone/223">San dOria-Jeuno Airship</a></li>
			<li><a href="/xi/zone/224">Bastok-Jeuno Airship</a></li>
			<li><a href="/xi/zone/225">Windurst-Jeuno Airship</a></li>
			<li><a href="/xi/zone/226">Kazham-Jeuno Airship</a></li>
			<li><a href="/xi/zone/227">Ship bound for Selbina Pirates</a></li>
			<li><a href="/xi/zone/228">Ship bound for Mhaura Pirates</a></li>
		</ul>
	</div>
</div>
<hr>
<span class="worldmaptitle">The Crystal War</span>
<div class="xicampaign">
	<div class="ximapregion" id="ronfaure_s">
		The Ronfaure Front
		<ul>
			<li><a href="/xi/zone/80">Southern San dOria [S]</a></li>
			<li><a href="/xi/zone/81">East Ronfaure [S]</a></li>
			<li><a href="/xi/zone/86">Everbloom Hollow</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="norvallen_s">
		The Norvallen Front
		<ul>
			<li><a href="/xi/zone/82">Jugner Forest [S]</a></li>
			<li><a href="/xi/zone/83">Vunkerl Inlet [S]</a></li>
			<li><a href="/xi/zone/84">Batallia Downs [S]</a></li>
			<li><a href="/xi/zone/85">La Vaule [S]</a></li>
			<li><a href="/xi/zone/175">The Eldieme Necropolis [S]</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="gustaberg_s">
		The Gustaberg Front
		<ul>
			<li><a href="/xi/zone/87">Bastok Markets [S]</a></li>
			<li><a href="/xi/zone/88">North Gustaberg [S]</a></li>
			<li><a href="/xi/zone/89">Grauberg [S]</a></li>
			<li><a href="/xi/zone/93">Ruhotz Silvermines</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="derfland_s">
		The Derfland Front
		<ul>
			<li><a href="/xi/zone/90">Pashhow Marshlands [S]</a></li>
			<li><a href="/xi/zone/91">Rolanberry Fields [S]</a></li>
			<li><a href="/xi/zone/92">Beadeaux [S]</a></li>
			<li><a href="/xi/zone/171">Crawlers Nest [S]</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="sarutabaruta_s">
		The Sarutabaruta Front
		<ul>
			<li><a href="/xi/zone/94">Windurst Waters [S]</a></li>
			<li><a href="/xi/zone/95">West Sarutabaruta [S]</a></li>
			<li><a href="/xi/zone/96">Fort Karugo-Narugo [S]</a></li>
			<li><a href="/xi/zone/129">Ghoyus Reverie</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="aragoneu_s">
		The Aragoneu Front
		<ul>
			<li><a href="/xi/zone/97">Meriphataud Mountains [S]</a></li>
			<li><a href="/xi/zone/98">Sauromugue Champaign [S]</a></li>
			<li><a href="/xi/zone/99">Castle Oztroja [S]</a></li>
			<li><a href="/xi/zone/164">Garlaige Citadel [S]</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="valdeaunia_s">
		The Valdeaunia Front
		<ul>
			<li><a href="/xi/zone/137">Xarcabard [S]</a></li>
			<li><a href="/xi/zone/138">Castle Zvahl Baileys [S]</a></li>
			<li><a href="/xi/zone/155">Castle Zvahl Keep [S]</a></li>
			<li><a href="/xi/zone/156">Throne Room [S]</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="fauregandi_s">
		The Fauregandi Front
		<ul>
			<li><a href="/xi/zone/136">Beaucedine Glacier [S]</a></li>
		</ul>
	</div>
	<div class="ximapregion" id="threshold_s">
		The Threshold
		<ul>
			<li><a href="/xi/zone/182">Walk of Echoes</a></li>
			<li><a href="/xi/zone/222">Provenance</a></li>
		</ul>
	</div>
</div>

<div style="display: none">
	<ul>
		<li><a href="/xi/zone/15">Abyssea-Konschtat</a></li>
		<li><a href="/xi/zone/43">Diorama Abdhaljs-Ghelsba</a></li>
		<li><a href="/xi/zone/44">Abdhaljs Isle-Purgonorgo</a></li>
		<li><a href="/xi/zone/45">Abyssea-Tahrongi</a></li>
		<li><a href="/xi/zone/49">none</a></li>
		<li><a href="/xi/zone/60">The Ashu Talif</a></li>
		<li><a href="/xi/zone/70">Chocobo Circuit</a></li>
		<li><a href="/xi/zone/131">Mordion Gaol</a></li>
		<li><a href="/xi/zone/132">Abyssea-La Theine</a></li>
		<li><a href="/xi/zone/133">Outer RaKaznar [U2]</a></li>
		<li><a href="/xi/zone/183">Maquette Abdhaljs-Legion A</a></li>
		<li><a href="/xi/zone/189">Outer RaKaznar [U3]</a></li>
		<li><a href="/xi/zone/199">Residential Area</a></li>
		<li><a href="/xi/zone/210">GM Home</a></li>
		<li><a href="/xi/zone/214">Residential Area</a></li>
		<li><a href="/xi/zone/215">Abyssea-Attohwa</a></li>
		<li><a href="/xi/zone/216">Abyssea-Misareaux</a></li>
		<li><a href="/xi/zone/217">Abyssea-Vunkerl</a></li>
		<li><a href="/xi/zone/218">Abyssea-Altepa</a></li>
		<li><a href="/xi/zone/219">Residential Area</a></li>
		<li><a href="/xi/zone/229">Throne Room [V]</a></li>
		<li><a href="/xi/zone/253">Abyssea-Uleguerand</a></li>
		<li><a href="/xi/zone/254">Abyssea-Grauberg</a></li>
		<li><a href="/xi/zone/255">Abyssea-Empyreal Paradox</a></li>
		<li><a href="/xi/zone/256">Western Adoulin</a></li>
		<li><a href="/xi/zone/257">Eastern Adoulin</a></li>
		<li><a href="/xi/zone/258">Rala Waterways</a></li>
		<li><a href="/xi/zone/259">Rala Waterways U</a></li>
		<li><a href="/xi/zone/260">Yahse Hunting Grounds</a></li>
		<li><a href="/xi/zone/261">Ceizak Battlegrounds</a></li>
		<li><a href="/xi/zone/262">Foret de Hennetiel</a></li>
		<li><a href="/xi/zone/263">Yorcia Weald</a></li>
		<li><a href="/xi/zone/264">Yorcia Weald U</a></li>
		<li><a href="/xi/zone/265">Morimar Basalt Fields</a></li>
		<li><a href="/xi/zone/266">Marjami Ravine</a></li>
		<li><a href="/xi/zone/267">Kamihr Drifts</a></li>
		<li><a href="/xi/zone/268">Sih Gates</a></li>
		<li><a href="/xi/zone/269">Moh Gates</a></li>
		<li><a href="/xi/zone/270">Cirdas Caverns</a></li>
		<li><a href="/xi/zone/271">Cirdas Caverns U</a></li>
		<li><a href="/xi/zone/272">Dho Gates</a></li>
		<li><a href="/xi/zone/273">Woh Gates</a></li>
		<li><a href="/xi/zone/274">Outer RaKaznar</a></li>
		<li><a href="/xi/zone/275">Outer RaKaznar [U1]</a></li>
		<li><a href="/xi/zone/276">RaKaznar Inner Court</a></li>
		<li><a href="/xi/zone/277">RaKaznar Turris</a></li>
		<li><a href="/xi/zone/278">Gwora-Corridor</a></li>
		<li><a href="/xi/zone/279">Walk of Echoes [P2]</a></li>
		<li><a href="/xi/zone/280">Mog Garden</a></li>
		<li><a href="/xi/zone/281">Leafallia</a></li>
		<li><a href="/xi/zone/282">Mount Kamihr</a></li>
		<li><a href="/xi/zone/283">Silver Knife</a></li>
		<li><a href="/xi/zone/284">Celennia Memorial library</a></li>
		<li><a href="/xi/zone/285">Feretory</a></li>
		<li><a href="/xi/zone/286">286</a></li>
		<li><a href="/xi/zone/287">Maquette Abdhaljs-Legion B</a></li>
		<li><a href="/xi/zone/288">Escha ZiTah</a></li>
		<li><a href="/xi/zone/289">Escha RuAun</a></li>
		<li><a href="/xi/zone/290">Desuetia Empyreal Paradox</a></li>
		<li><a href="/xi/zone/291">Reisenjima</a></li>
		<li><a href="/xi/zone/292">Reisenjima Henge</a></li>
		<li><a href="/xi/zone/293">Reisenjima Sanctorium</a></li>
		<li><a href="/xi/zone/294">Dynamis-San dOria [D]</a></li>
		<li><a href="/xi/zone/295">Dynamis-Bastok [D]</a></li>
		<li><a href="/xi/zone/296">Dynamis-Windurst [D]</a></li>
		<li><a href="/xi/zone/297">Dynamis-Jeuno [D]</a></li>
		<li><a href="/xi/zone/298">Walk of Echoes [P1]</a></li>
		<li><a href="/xi/zone/299">Gwora-Throne Room</a></li>
	</ul>
</div>